.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50%;
}

.Movie-wrapper{
  width: 500px;
  background-color: antiquewhite;
  color: black;
}

.Movie-search{
  height: 48px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 475px;
}

.Movie-title{
  height: 50px;
  margin-top: 26px;
}

.Movie-movie-popularity{
  width: 100%;
  height: 300px;
  margin:24px 24px;
}

.Movie-movie-overview{
  max-height: 48px;
  margin-bottom: 26px;
}

.footer{
  background-color: #1D1CE5;
}

.buttoncustom {
  width: 50%;
  background-color: white !important;
  color: #7978FF !important;
}

.text{
  color: #D989B5;
  display: flex;
  margin: 15px;
  margin-left: 0px;;
}

.list{
  list-style: none;
  padding-left: 0px;
}

.text1{
  margin-right: 24px;
}

.navbar{
  background-color: #1D1CE5;
}

.dropdown-toggle::after {
  display: none !important; 
}

.dropdown a {
  color: white;
}

.dropdown a:hover {
  color: white;
}

.dropdown.show a {
  color: white !important;
}

.dropdown .dropdown-menu .dropdown-item {
  color: black !important;
}

.buttonnsignin{
  width: 10%;
  margin-right: 12px;
  background-color: white !important;
  color: #7978FF !important;
  
}

.buttonsignout{
  width: 10%;
  margin-left: 12px;
  background-color: white !important;
  color: #7978FF !important;
}

